<!DOCTYPE html>
<html lang="en" style="height:100%">
  <head>
    <meta charset="UTF-8" />
    <title>React Native for Web</title>
    <style>
      /* These styles make the body full-height */
      html, body { height: 100%; }
      /* These styles disable body scrolling if you are using <ScrollView> */
      body { overflow: hidden; }
      /* These styles make the root element full-height */
      #root { display:flex; height:100%; }
    </style>
  </head>
  <body style="height:100%">
    <div id="root"></div>
  </body>
</html>
